//  Copyright (c) Meta Platforms, Inc. and affiliates.
//  All rights reserved.
//  This source code is licensed under the license found in the
//  LICENSE file in the root directory of this source tree.

doctype
html
    head
        title Instagram Reels Publishing API Sample App
        link(rel='stylesheet', href='/style.css')
    body
        header
            h1 Instagram Reels Publishing API Sample App
        .canvas
            - let pagesArr = pages ?? [];
            if (pagesArr.length > 0)
                form(action='/uploadReels' name="uploadForm" id="uploadForm" method='POST')
                    b Select an Page associated with Instagram Business Account ID to publish reel to
                    div(class='radio-group')
                        each page, index in pagesArr
                            div(class='radio-child')
                                label(for=`page-${index}`)
                                    input(type='radio' id=`page-${index}` name="pageID" value=page.id)
                                    |  Page: #{page.name} - #{page.id}
                    input(type="text" placeholder="Enter video url" name="videoUrl")
                    input(type="text" placeholder="Enter caption (optional)" name="caption")
                    input(type='submit' value='Upload' onclick="this.form.submit(); this.disabled = true;")
            if(uploaded)
                if(igUserId && containerId)
                    .alert
                        span.closebtn(onclick="this.parentElement.style.display='none';") &times;
                        |   #{message}
                    form(method='POST', action='/publishReels')
                        input(type='submit', name='publishReels', value='Publish', onclick="this.form.submit(); this.disabled = true;")
                if(published)
                    if(message.length > 0)
                        each msg in message
                            .alert
                                span.closebtn(onclick="this.parentElement.style.display='none';") &times;
                                |   #{msg}
                    else
                        .alert
                                span.closebtn(onclick="this.parentElement.style.display='none';") &times;
                                |   #{message}
                if(permalink)
                    a(href=permalink target="_blank") Link to Instagram Post
            else if(!uploaded)
                if(igUserId)
                    .alert
                        span.closebtn(onclick="this.parentElement.style.display='none';") &times;
                        |   #{message}
                else if(error)
                    .alert-error
                        span.closebtn(onclick="this.parentElement.style.display='none';") &times;
                        |   #{message}
